<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-1.8.0.js"></script>
    <link rel="stylesheet" type="text/css" href="../js/easyui-1.7.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../js/easyui-1.7.0/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../js/easyui-1.7.0/demo.css">
    <script type="text/javascript" src="../js/easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="../js/easyui-1.7.0/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/easyui-1.7.0/plugins/jquery.datagrid.js"></script>
</head>
<body>
<!--datagrid 开始  -->
<table id="dg"></table>
<!--datagrid 结束 -->
</body>
<script type="text/javascript">
    $(function(){
        queryData();
    });
    //查询
    function queryData(){

        $('#dg').datagrid({
            url:'../user/queryPermission',
            fitColumns:true,
            columns:[
                [
                    /* field 属性值和 对象的属性名保持一致 */
                {field:'xxx',title:'',checkbox:true,width:$(this).width() * 0.2},
                {field:'id',title:'编号',width:$(this).width() * 0.2},
                {field:'text',title:'菜单文本',width:$(this).width() * 0.2},
                {field:'url',title:'跳转路径',width:$(this).width() * 0.2},
                {field:'pid',title:'父id',width:$(this).width() * 0.2},
                {field:'xxxx',title:'操作',
                    formatter: function(value,row,index){

                        //"<a href='javascript:deleteAll("+row.cid+")' class='easyui-linkbutton' data-options=iconCls:'icon-cancel'>删除</a>";
                        var content = "<a href='javascript:deleteAll("+row.id+")' class='easyui-linkbutton' iconCls:'icon-cancel'>删除</a>";
                        return content;
                    },width:$(this).width() * 0.2}
            ]
            ],
            /* 显示分页工具栏 */
            pagination:true,
            /* pageSize 必须和 pagelist 一起连用并且 pagesize的值是pagelist中其中一个 */
            pageSize:2,
            pageList:[2,4,6,8]

        });
    }
</script>
</html>